body {
	margin: 2rem;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid white;
	padding: 10px;
}

.form {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid white;
}
.form label {
	font-weight: bold;
}
.form div {
	margin: 1rem 0;
}

#message {
	margin: 1rem 0;
}

#privateClanJoin {
    border-color: white;
    background-color: #242424;
    color:white;
}

#privateClanJoin::placeholder {
    color:white;
}

#privateClanJoin:hover {
    border-color: wheat;
}