<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="clan_pages/styles.css" />
</head>

<body>
    <div id="menuContainer">
        <nav id="menu">
            <a href="../../clans_display"> Join Clan </a>
            <a href="/../create_clan"> Create Clan </a>
            <a href="/../user-profile"> Profile </a>
            <a href="/logout"> Log Out </a>
        </nav>
    </div>
    <div id="container">
        <h1 id="clan"></h1>
        <table id="org">
            <tr>
                <td id = "cinfo">
                    <div id="cname">
                        <p id="clanName"> </p>
                        <p id="clanId"> </p>
                        <p id="clanDescription"> </p>
                        <p id="ifPublic"> </p>
                    </div>
                    
                    <div id="memberDiv">
                        <table id = "members">
                            <thead>
                                <tr><th>Clan Members</th></tr>
                            </thead>
                            <tbody id="clanMembers"></tbody>
                        </table>
                    </div>
                </td>

                <td id = "msgBox">
                    <div id="messages" ></div>
                    <br>
                    <div id="messageType">
                        <input type="text" id="chat">
                        <button id="submit"> Send </button>
                    </div>
                </td>

                <td id="pnow">
                    <div id="playNow">
                        <button id="play"> Play Now? </button>
                        <table>
                            <tr> 
                                <td id="1Name" class="pname"> </td> 
                                <td id="1" class="pnum"> P1 </td> 
                            </tr>
                            <tr> 
                                <td id="2Name" class="pname"> </td> 
                                <td id="2" class="pnum"> P2 </td>       
                            </tr>
                            <tr> 
                                <td id="3Name" class="pname"> </td> 
                                <td id="3" class="pnum"> P3 </td> 
                            </tr>
                            <tr> 
                                <td id="4Name" class="pname"> </td>  
                                <td id="4" class="pnum"> P4 </td>
                            </tr>
                            <tr> 
                                <td id="5Name" class="pname"> </td> 
                                <td id="5" class="pnum"> P5 </td>
                            </tr>
                        </table>
                        <div id="players">
                
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>

    <script>
        let clan_id = '<%= clanid  %>';
        let username = '<%= user  %>';
        let user_id = '<%= id %>';
    </script>
    <script src="/clan_pages/script.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="clan_pages/chat.js"></script>
    <script src="clan_pages/play.js"></script>
</body>