<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>User's Profile</title>
	<link rel="stylesheet" type="text/css" href="user_profile/style.css">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <nav id="menu">
        <a href="../../clans_display"> Join Clan </a>
        <a href="/../create_clan"> Create Clan </a>
        <a href="/../user-profile"> Profile </a>
        <a href="/logout"> Log Out </a>
    </nav>
<h1 id="welcomeUser"></h1>
<p id="userName"> </p>
<p id="steamId"></p> 
<p id="region"></p>

<div id="clanList"><b>Clans: </b></div>
<div id="clanInfo"></div>	

<script>
    let steamID = '<%= steamid  %>';
</script>
<script src="user_profile/script.js"></script>

</body>
</html>